## TUGAS 3 

Penting : 

1. Teman-teman dapat mengerjakan soal ini secara berdiskusi, tapi tidak dianjurkan untuk copy paste.
2. Saat dikirim, notebook sudah dalam keadaan running.
3. kerjakan tugas secara lengkap, karena akan dicek dengan baik
4. format pengumpulan tugas cek pada grup telegram data science training

Soal 1 

Lengkapilah code untuk menampilkan perulangan berikut sesuai dengan expected result yang diharapkan !

In [1]:
#Jawaban soal 1

print('expected result')
for i in ('semangka'):
    print(i)

expected result
s
e
m
a
n
g
k
a

Soal 2 

1. lengkapilah codeperulangan untuk menampilkan expected result 
2. Ketentuan 
    - setiap ingin menampilkan kelipatan 5 ubah menjadi lima
    - setiap kelipatan 7 ubah menjadi tujuh'
    - jika bertemu 35 dan 70 ubah menjadi tiga lima dan tujuh puluh 
    - dan jika bertemu 100 ubah menjadi end

In [2]:
#Jawaban soal 2

# lengkapi code berikut

print('expected result')
for i in range(1,101):
    if i == 100 :
        print('End')
    elif i == 35 or i == 70:
        print('tiga lima dan tujuh puluh !')
    elif i%5 == 0:
        print('lima')
    elif i%7 == 0:
        print('tujuh')
    else:
        print(i)

expected result
1
2
3
4
lima
6
tujuh
8
9
lima
11
12
13
tujuh
lima
16
17
18
19
lima
tujuh
22
23
24
lima
26
27
tujuh
29
lima
31
32
33
34
tiga lima dan tujuh puluh !
36
37
38
39
lima
41
tujuh
43
44
lima
46
47
48
tujuh
lima
51
52
53
54
lima
tujuh
57
58
59
lima
61
62
tujuh
64
lima
66
67
68
69
tiga lima dan tujuh puluh !
71
72
73
74
lima
76
tujuh
78
79
lima
81
82
83
tujuh
lima
86
87
88
89
lima
tujuh
92
93
94
lima
96
97
tujuh
99
End

soal 3 

Lengkapilah code untuk menampilkan hasil dari list sesuai dengan expected result yang diharapkan!

In [3]:
#Jawaban soal 3

# name list
name_list = ["Bernice", "Aaron", "Cody"]

# alphabetical order
print('Here is the list in alphabetical order:')
for i in sorted(name_list):
    print(i)

# reverse alphabetical order
print('\nHere is the list in reverse alphabetical order:')
for j in sorted(name_list, reverse=True):
    print(j)

# original order
print('\nHere is the list in its original order:')
for k in name_list:
    print(k)

Here is the list in alphabetical order:
Aaron
Bernice
Cody

Here is the list in reverse alphabetical order:
Cody
Bernice
Aaron

Here is the list in its original order:
Bernice
Aaron
Cody

Expected Result


![list.PNG]()


soal 4

Program Kuota SKS, yaitu program yang dapat menentukan kuota SKS yang
diperoleh berdasarkan nilai IPK. Jika IPK besar dari 3.00 kuota SKS 24, jika IPK 2.50 sampai 2.99 kuota SKS 21, jika IPK 2.00 sampai 2.49 kuota SKS 18, jika IPK di bawah 2.00 kuota SKS 15.

In [4]:
## Jawaban soal 4
print('Masukan IPK kamu!\n')

while True:
    try:
        IPK = float(input('IPK kamu adalah: '))
        break
    except ValueError as ve:
        print('Nilai IPK tidak valid')

print('\nKamu memperoleh:')
    
def hitung_ipk(IPK):
    if IPK >= 3.00:
            print('24 SKS')
    elif IPK >= 2.50 and IPK < 3.00:
            print('21 SKS')
    elif IPK >= 2.00 and IPK < 2.50:
            print('18 SKS')
    elif IPK >= 0 and IPK < 2.00:
            print('15 SKS')
    else:
        print('Nilai IPK tidak valid')
            
hitung_ipk(IPK)

Masukan IPK kamu!

IPK kamu adalah: 3

Kamu memperoleh:
24 SKS

Soal 5 

Kerjakan dengan benar soal dictionary berikut.

In [5]:
thisdict = {
    'barand' : 'ford',
    'model'  : 'mustang',
    'year'   : 1964
}

print(thisdict)

{'barand': 'ford', 'model': 'mustang', 'year': 1964}

Dari hasil ouput brand yang ditampilkan adalah ford. tugas anda lakukan perubahan pada brand menjadi "honda" dengan menggunakan fungsi ubah atributnya. tidak mengubah nilai secara langsung pada dictionary awal

In [6]:
# Contoh

thisdict = {
    'barand' : 'honda', # tidak mengubah dengan cara hanya mengganti nilai ini
    'model'  : 'mustang',
    'year'   : 1964
}

In [7]:
#Jawaban soal 5

thisdict = {
    'barand' : 'ford',
    'model'  : 'mustang',
    'year'   : 1964
}
thisdict['barand'] = 'honda'
print(thisdict)

{'barand': 'honda', 'model': 'mustang', 'year': 1964}

In [14]:
def hitung_ipk(IPK):
    if IPK >= 3.00 and IPK <= 4.00:
            print('24 SKS')
    elif IPK >= 2.50 and IPK < 3.00:
            print('21 SKS')
    elif IPK >= 2.00 and IPK < 2.50:
            print('18 SKS')
    elif IPK >= 0 and IPK < 2.00:
            print('15 SKS')
    else:
        print('Nilai IPK tidak valid')
def input_ipk():
    while True:
        try:
            IPK = float(input('Masukan IPK kamu! '))
            break
        except ValueError as ve:
            print('Nilai IPK tidak valid')
    return IPK


while (input_ipk() in range(0,5)):
    hitung_ipk(IPK)
    break
#     try:
#         print('a')
# #     hitung_ipk(IPK)

Masukan IPK kamu!7